<h1>Answers</h1>

<ul>
  <li>(Answer loop will display here:)</li>

  <!-- {{#each answer in model}}
    <li>
      {{#link-to 'question' question}}
        {{question.question}} by {{question.author}}
      {{/link-to}}
    </li>
  {{/each}} -->
</ul>
