<h1>Questions and Queries</h1>

<button class="btn btn-success">Ask a Question</button>

<ul>
  <li>(Question loop will display here:)</li>
  <!-- We have 'model' available to us from the questions.js route
  which returns all the question(s), which we can loop over: -->
  {{#each question in model}}
    <li>
      {{#link-to 'question' question}}
        {{question.question}} by {{question.author}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

<!-- <button class="btn btn-danger">!</button> -->
